@import url(https://fonts.googleapis.com/css?family=Roboto);

body {
  margin: 0;
}

.wrapper {
  position: relative;
}

.wrapper p {
  background-color: black;
  bottom: 5%;
  color: white;
  font-family: Roboto;
  font-size: 1.25em;
  left: 0;
  padding: 0.25em 0.75em;
  position: absolute;
}